// WordPress editor styles
$color-blue: rgb(33, 175, 194);

.wp-block-moconnor-pretty-words {
	color: $color-blue;
}

.popover-dialog {
	.components-popover__content {
		padding: 20px;
		min-width: 390px;
		display: flex;
		flex-direction: column;

		h3 {
			font-weight: 300;
		}

		span {
			font-weight: 600;
			color: #0070a7;
		}

		.components-panel {
			margin-top: 20px;
		}

		.components-notice__dismiss {
			align-self: flex-end;
		}

		.components-button {
			&.is-primary  {
				display: inline-block;
			}
		}

		.components-notice {
			&.is-dismissible {
				padding-right: 10px;
    			margin: 0;
			}
			.components-notice__content {
				margin: 0 33px 0 0;
			}
		}
	}
}
